.activities-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.hidden {
  display: none;
  visibility: hidden;
}

.tabs-container {
  display: flex;
  width: 450px;
}

.tabs-div {
  margin-left: auto;
  margin-right: 1px
}

.completed-button,
.activity-list-button {
  width: 130px;
  margin-left: -4px;
  background-color: rgba(209, 209, 209, 0.24);
  color: hsla(0, 0%, 0%, 0.568);
  border: none;
  border-radius: 5px 5px 0px 0px;
  padding: 6px 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.active {
  color: hsl(163, 86%, 27%);
  background-color: white;
  font-weight: bold;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 5px 0px, rgba(0, 0, 0, 0.15) 0px 0px 1px 0px;
}

.activities-container .activities-completed-card {
  border: none;
  border-radius: 5px 0px 5px 5px;
  width: 450px;
  display: flex;
  flex-direction: column;
  color: hsla(0, 0%, 0%, 0.791);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.activities-completed-card .activity-container,
.activities-completed-card .completed-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 20px;
  border-bottom: 1px solid hsla(0, 1%, 50%, 0.432);
}

.activity-container .delete-button {
  margin-left: auto;
  height: 22px;
  background-color: white;
  color: hsl(163, 86%, 27%);
  border: none;
  border-radius: 50%;
}