.button-container {
  text-align: center;
  
}

.alert-container {
  text-align: center;
  margin-bottom: 40px;
  visibility: hidden;
}

.alert {
  color: red;
  font-weight: bold;
  visibility: visible;
}

.button-container .choose {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.887);
}

.button-container select {
  color: rgba(0, 0, 0, 0.795);
}

.button-container .dropdown {
  padding: 5px 10px;
  font-size: 19px;
  border: 1px solid hsla(0, 0%, 76%, 0.274);
  border-radius: 5px 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.activities-button {
  color: hsl(163, 86%, 27%);
  background-color: hsla(0, 0%, 76%, 0.274);
  border: none;
  border-radius: 0px 5px 5px 0px;
  padding: 5px 10px;
  margin-left: -4px;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.activities-button:hover {
  background-color: hsla(0, 0%, 84%, 0.274);
}