.activities-completed-card .completed-container {
  font-size: 14px;
}

.activities-completed-card .completed-name {
  width: 290px;
}

.activities-completed-card .completed-date {
  margin-left: auto;
  font-size: 12px;
}

@media (max-width: 500px) {
  .activities-completed-card .completed-name {
    width: 250px;
  }
  .activities-completed-card .completed-date {
    font-size: 10px;
  }
}