dialog {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0px;
  z-index: 100;
}

.close-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.close-info {
  padding: 5px 20px 0px 20px;
  display: flex;
  flex-direction: row;
}

.close-button {
  margin-left: auto;
  height: 22px;
  background-color: white;
  color: hsl(163, 86%, 27%);
  border: none;
  border-radius: 50%;
}

h4 {
  margin: 0px 10px 0px 0px;
}

.date-submit-container {
  display: flex;
}

.date-submit-button {
  margin: 15px 20px 10px auto;
  background-color: hsl(163, 86%, 27%);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}